{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo%}
	
{% block contenido %}
<div class="lista-noticias">
	<span><a href="{% url 'noticias:listar' %}">TODAS</a></span>
	{% for cat in categorias %}
		<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
	{% endfor %}
</div>
<div class="titulo-noticias-1">
	<h2 >LISTA NOTICIAS</h2>
</div>
{% for noti in noticias %}
<div class="body-falso-noticias">
	<div class="caja-noticias">
		<div class="sub-caja-noticias">
			<div class="imagen-noticias">
				<img src="{{ noti.imagen.url }}"  width="100" height="100" class="imagen-noticias"> 
			</div>
			<div class="listar-titulo">
				<p><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{noti.titulo}}</a></p>
			</div>
			<div class="fecha-noticias">
				<p>FECHA: {{noti.fecha}}, CATEGORIA: {{noti.categoria_noticia}}</p>
			</div>
			<div class="cuerpo-noticias">
				<p><b>CUERPO: {{noti.cuerpo}}</b></p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock contenido %}
