{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block contenido %}
<div class="caja-login">
  <div class="login-card-container">
    <div class="login-card">
     
      <div class="login-card-header">
        <h1>Logearse</h1>
        <div><b>Para usar la plataforma debe logearse</b></div>
      </div>
      <form method="post" class="login-card-form">{%csrf_token%}
        {{form.errors}}
        <div class="formulario-registro">
          <label>Nombre De Usuario</label>
          <input type="text" name="username"  placeholder="Nombre de Usuario" required>
         </div>
        <div class="formulario-registro">
          <label>Contraseña</label>
          <input type="password" name="password" placeholder="Contraseña"required>
        </div>
        <div class="form-item-other">
       
          <a href="#"><b>Olvide mi contraseña!</b> </a>
        </div>
        <input type="submit" value="Ingresar">
      </form>
      <div class="login-card-footer">
        <b>No tiene cuenta?</b> <a href="{% url 'usuarios:registro' %}"><b>Crea una Cuenta</b> </a>.
      </div>

    </div>
</div>
  





{% endblock contenido %}