{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MI WEB | {% block titulo %}{% endblock titulo %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Unbounded:wght@800&display=swap" rel="stylesheet">
    
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!---Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/16f1912faa.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>

</head>

<body>
    <!-- Responsive navbar-->
    <nav>
        <label class="logo">
            <img src="/media/noticias/logo.png" width="120px" helght="80px" >
            <b>ASOCIACIÓN CIVIL JUNTOS EN ACCIÓN </b>
        </label>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a class="active" href="{% url 'noticias:listar' %}">Noticias</a></li>
            {% if user.is_authenticated %}
            <a> Hola {{ user.username }}</a>
            </li>
            <a id="salida" class="active" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
            <li><a class="active" href="{% url 'login' %}">Iniciar Sesión</a></li>
            <li><a class="active" href="{% url 'usuarios:registro' %}">Registrarse</a></li>
            {% endif %}
            {% if user.is_superuser or user.is_staff %}
            <li><a class="active" href="/admin">Admin</a></li>
            {% endif %}
        </ul>
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>
    </nav>



    <!-- Image element - set the background image for the header in the line below-->
    
            {% block contenido %}

            {% endblock contenido %}
    
    <!-- Footer-->
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Asociacion<span>Civil</span></h3>
    
            <p class="footer-links">
                <a href="{% url 'home' %}">Home</a>
                |
                <a href="{% url 'nosotros' %}">Nosotros</a>
                |
                <a href="{% url 'noticias:listar' %}">Noticias</a>
            </p>
    
            <p class="footer-company-name">Copyright © 2022 <strong>Terminos y Usos</strong> Todos los Derechos de Autor estan Reservados</p>
        </div>
    
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><a href="https://www.google.com/maps/place/Dorrego+490,+H3700IAJ+Sáenz+Peña,+Chaco/data=!4m2!3m1!1s0x94412ce3c68bc62f:0x8c842a33abd51d5a?sa=X&ved=2ahUKEwiyjLabnoj8AhWurJUCHUP5B04Q8gF6BAgOEAE"></a><span>DORREGO 490</span>
                    Presidencia Roque Sáenz Peña, Chaco</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>3644673583</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sandraccpa@hotmail.com">sandraccpa@hotmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Sobre Nosotros</span>
                <strong>JUNTOS EN ACCION</strong>  Es una Asociación Civil sin fines de lucro formada por ciudadanos al servicio de las personas con discapacidad
                
                
            <div class="footer-icons">
                <a href="https://www.facebook.com/people/Asociacion-Civil-Juntos-En-Accion/100064567493574/"><i class="fa fa-facebook"></i></a>
                <a href="mailto:uep143.sp.chaco@gmail.com"><i class="fa-solid fa-inbox"></i></a>
                <a href="tel: 3644733177"><i class="fa-sharp fa-solid fa-phone"></i></a>
                <a href="https://www.facebook.com/people/UEP-N%C2%BA-143-CENTRO-DE-FORMACION-INTEGRAL/100063611561590/"><i class="fa-brands fa-facebook-messenger"></i></a>
               
            </div>
        </div>
    </footer> 
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>