{% extends 'base.html'%}
{% load static %}

{% block titulo %} NOSOTROS {% endblock titulo %}

{% block contenido %}
     <h2>ASOCIACION CIVIL JUNTOS EN ACCION</h2>
     <h3>
          Autoridades:
          <ul>
               <li>Presidente: Silva, Sandra</li>
               <li>Tesorera: Zarco, Gisela</li>
               <li>Vocales: Valenzuela, Lisa y Duca, Silvia</li>
               <li>Revisores de cuenta: Hernandez, Soledad y Secoff Aliciali</li>
          </ul>
          Objetivos:
          <ul>
               <li>Apoyo, contención y asesoramiento, propiciando el involucramiento de las familias y la sensibilización de la comunidad. </li>
               <li>Creación de espacios priorizando actividades dentro de la recreación y capacitación laboral.</li>
               <li>Capacitar y luego lograr la inserción laboral, entre otros fines (la asociación creo la UEGP N°143 Centro de Formación Integral para Personas con Discapacidad para alcanzar las metas planteadas, se viene trabajando a través de ella hace 10 años y se continúa)</li>
          </ul>
          Misión y Visión:
          <dl>Para los que formamos Juntos en Acción las personas con discapacidad son titulares de los mismos derechos fundamentales que el resto de los ciudadanos. Creemos en una concepción donde las personas con discapacidad poseen facultad para decidir sobre sus propias vidas, mientras su discapacidad no impida esto, en oposición a una concepción paternalista como la que rige aun en estos tiempos. las personas con discapacidad reclaman la igualdad de oportunidades y es nuestro deber ayudarlos a que lo puedan lograr.</dl>
          Lugar: <br>
          DORREGO 490, Presidencia Roque Sáenz Peña, Chaco. <br>
          <a title="Ubicación" href="https://www.google.com/maps/place/Dorrego+490,+H3700IAJ+S%C3%A1enz+Pe%C3%B1a,+Chaco/@-26.7862853,-60.4466389,17z/data=!3m1!4b1!4m5!3m4!1s0x94412ce3c68bc62f:0x8c842a33abd51d5a!8m2!3d-26.7862853!4d-60.4466389"><img src="{% static 'img/ubicacion.png' %}" width="200px" height="200px"  alt="Ubicacion" ></a>
     </h3>
{% endblock contenido %}

