{% extends 'base.html'%}
{% load static %}

{% block titulo %} NOSOTROS {% endblock titulo %}

{% block contenido %}
<!DOCTYPE html>
<html>
<head>
     <STYLE type="text/css">
          h3 { text-decoration: underline; text-align:center}
          h4 {margin-left:75px}
          P {margin-left:75px;margin-right:80px;font-Family:verdana, Century Gothic, arial,verdana;font-size: 17px; text-align:justify; color: rgb(2, 2, 2);line-height:30px}
          BODY {color:black;background-color: #d0cecc; text-indent:0.5cm}
          li{margin-left:75px;margin-right:80px;font-Family:verdana, Century Gothic, arial,verdana;font-size: 17px; text-align:justify; color: rgb(2, 2, 2);line-height:30px}
          #centrar{
               text-align: center 
          }
</STYLE>

</head>
<body>
     <section id="Quienes somos">
          <br><h3 id="Inicio"> ¿QUIÉNES SOMOS?</h3><br>
     </section>     
     <div>
          <p> <b> JUNTOS EN ACCION </b> es una Asociación Civil sin fines de lucro formada por ciudadanos al servicio de las personas con discapacidad.</p>
          <p>Nuestros principales objetivos son:</p>
          <ol>
          <li style="list-style-type:lower-alpha;"><b>Apoyar, contener y asesorar, propiciando el involucramiento de las familias y la sensibilización de la comu    nidad.</b></li>
          <li style="list-style-type:lower-alpha;"><b>Crear espacios priorizando actividades dentro de la recreación y capacitación laboral.</b></li>
          <li style="list-style-type:lower-alpha;"><b>Resaltar la  importancia de la inclusión social y laboral de las personas con discapacidad, para su realización personal.</b></li>
          <li style="list-style-type:lower-alpha;"><b>Insertar al joven con discapacidad en el mundo laboral.</b></li>
     </ol>

     <p>La institución está dirigida y administrada por una Comisión Directiva compuesta de un presidente, un secretario, un tesorero, un vocal titular y un vocal suplente y también una comisión Revisora de Cuentas compuesta por un miembro Titular y uno Suplente.</p>
  </div>

     <section id="Como">
     <br><h3>¿CÓMO SURGE?</h3><br>
     </section>
     
     <div>
         <p>En la ciudad de Pcia. Roque Sáenz Peña se conforma en el año 2003 una Asociación Civil de padres con hijos con discapacidad y de la comunidad en general, con el objetivo de mejorar la calidad de vida de éstos.</p>
          <p>Esta Asociación Civil, denominada <b> “Juntos en Acción”</b> entre otros aspectos a fortalecer se plantea la necesidad de contar en la localidad con un servicio  que capacite a los jóvenes con discapacidad en un oficio o puesto de trabajo desarrollando sus potencialidades, obteniendo así una herramienta que les amplíe las posibilidades de inserción laboral y social.</p>
          <p>Como antecedente de ello se puede mencionar la concreción del <b>Centro de Capacitación Laboral</b> como Proyecto Especial en el ámbito del Ministerio de Educación, Cultura, Ciencia y Tecnología de la Provincia. Para lo cual desde la Asociación se realizaron las gestiones administrativas, los contactos a nivel político y se puso a disposición los  recursos materiales básicos para la puesta en marcha del servicio, teniendo como objetivo <i><b> “Mejorar la calidad de formación de las personas con discapacidad especialmente a través del desarrollo de nuevas competencias y calificaciones profesionales”</i></b>.  El proyecto especial fue dado de baja el 29 de febrero por una Resolución de fecha 19 de marzo pero de alta el 1 de marzo hasta el 31 de diciembre de 2008.</p>
          <p>En entrevistas realizadas durante el año 2005-2006 y 2007 a jóvenes con discapacidad y sus familias,  la mayoría manifiesta el interés por recibir una capacitación y una posterior inserción en el mercado laboral, como así también un sentimiento de discriminación al no poder lograr, por sus propios medios, que la comunidad les de la oportunidad de desempeñarse en un oficio o puesto de trabajo.</p>
          <p>Asimismo un alto porcentaje de padres  de  hijos con discapacidad, manifiesta entre sus expectativas la necesidad de que su hijo se inserte en el mercado laboral y la falta de un servicio que complemente la formación que brinda la Escuela de Educación Especial para que su hijo/a incorpore mediante las capacitaciones la mayor cantidad de herramientas posibles.</p>
          <p><i>En este contexto, el problema se origina en la demanda de integración social y laboral por parte de personas con discapacidad y la escasa oferta de servicios que tiendan a satisfacerla, por lo que constituye una necesidad la concreción de un servicio que  contemple acciones orientadas a fortalecer las posibilidades de inserción social y laboral.</i></p>
          <p>Durante el año 2008 la Asociación gestionó y consiguió la habilitación, a partir del 02 de marzo de 2009, de la <b> UEGP Nº 143 CENTRO DE FORMACION INTEGRAL.</b> Actualmente su presidente es la Representante Legal de la UEGP.</p>
     </div>

     <section id="Vision">
     <br><h3>NUESTRA VISIÓN</h3><br>
     </section>
    
     <div>
          <p>Para quienes formamos parte de <b> “JUNTOS EN ACCION”</b> las personas con discapacidad son titulares de los mismos derechos fundamentales que el resto de los ciudadanos. El <i><b>artículo 1°</b></i> de la <i><b> Declaración Universal de los Derechos Humanos </b></i> (la cual Argentina ha ratificado e incluido en nuestra Constitución Nacional) declara:<b>“<u>Todos los seres humanos son libres e iguales en dignidad y derechos</u>.”</b> A fin de alcanzar esa meta, todas las comunidades deben celebrar la diversidad en el seno de sí mismas, y deben asegurar que las personas con discapacidad puedan disfrutar de las distintas clases de derechos humanos: civiles, políticos, sociales, económicos y culturales reconocidos por las distintas Convenciones Internacionales y la Constitución Nacional y Provincial.</p>     
          <p>Los viejos enfoques basados en gran medida en la compasión y en la indefensión para nosotros son inaceptables tratándose de personas que no se ven impedidas de insertarse en la sociedad. Las personas con discapacidad reclaman la igualdad de oportunidades y de acceso a los recursos sociales, como, por ejemplo, el trabajo, una educación integradora, el acceso a las nuevas tecnologías, los servicios sociales y sanitarios, el deporte y actividades de ocio, a productos, bienes y servicios de consumo.</p>
     </div>

     <section id="El empleo">
     <br><p><h4>El empleo como clave para la insersión social</h4></p>
     </section>
    
     <div>
          <p>Importantes esfuerzos deben llevarse a cabo con el objetivo de promover el acceso al empleo de las personas con discapacidad, preferentemente en el mercado laboral ordinario. Ésta es una de las formas más importantes de luchar contra la exclusión social de las personas con discapacidad, para promover su independencia y dignidad en la vida. Esto requiere, además de la activa movilización de los agentes sociales, la de las autoridades públicas que deben seguir fortaleciendo las medidas ya existentes.</p>
          <p>Por esto pretendemos brindar capacitación laboral; que les permita desarrollar competencias adecuadas tanto para crear micro emprendimientos o logrando que las personas con discapacidad trabajen y logren su inserción laboral en organismos gubernamentales o en ámbitos.</p>
          <p>La meta de la igualdad en el acceso y la participación requiere que los recursos deben ser canalizados de tal forma que refuerce la capacidad de participación de la persona con discapacidad y su derecho a vivir de forma independiente.</p>
     </div>
     <section id="Plan">   
     <br><p><h3>PLAN DE ACCIÓN</h3></p><br>
     </section>
     
     <div>
     <ul>
          <li>• Una alianza fuerte entre  <b>el Gobierno y las organizaciones con discapacidad</b> es el requisito básico para progresar de la forma más eficaz hacia la igualdad de oportunidades y la participación social de las personas con discapacidad.</li>
          <li>• Buscamos el diálogo y la cooperación con las organizaciones que trabajan por la discapacidad</li>
          <li>• <b>Las organizaciones de discapacidad</b>, como representantes de las personas con discapacidad, tienen una importante responsabilidad de garantizar el éxito de estos fines. 
            Para ello deben dirigirse activamente a todos los actores sociales más relevantes, proponiendo medidas concretas y tratando de establecer articulación y cooperación a largo plazo.</li>
          <li>• <b>Las empresas privadas</b> deben aumentar sus esfuerzos para incluir, mantener y promocionar espacios para las personas con discapacidad en su plantilla y diseñar sus productos y servicios para que sean accesibles a las personas con discapacidad. Los empresarios deben revisar sus políticas internas para asegurar que ninguna de ellas impida a las personas con discapacidad disfrutar de la igualdad de oportunidades. Las organizaciones empresariales pueden contribuir a estos esfuerzos recopilando los numerosos ejemplos de buenas prácticas ya existentes.</li>
          <li>• <b>Los Medios de comunicación</b> deben crear y fortalecer alianzas con asociaciones de personas con discapacidad, para mejorar la imagen de las personas con discapacidad a través de brindar informaciones sobre las personas con discapacidad como reconocimiento de la diversidad humana. Al referirse a cuestiones de discapacidad, los medios de comunicación deberían evitar enfoques de condescendencia o humillantes y centrarse más bien en las barreras a las que se enfrentan las personas con discapacidad y en la positiva contribución que las personas con discapacidad pueden hacer una vez que se eliminen estas barreras.</li>
        </ul>                
     </div>
  
     <section id="Caracterizacion">
     <br><p><h4>a. Caracterización de la Institución:</h4></p><br>
     </section>

     <div>     
     <ul>
          <li>• Como institución nos proponemos atender a la educación de alumnos que presenta alguna discapacidad,  priorizando su formación integral, y promoviendo en ellos competencias para su futura inserción y  desempeño.</li>
          <li>• La UEGP N° 143 “Centro de Formación Integral” ubica en el centro de su actividad institucional la preparación integral del joven, potenciando y favoreciendo al máximo sus capacidades, para que se desarrollen en las distintas áreas o dimensiones: educativa, laboral, social y familiar. Permitiéndole ser parte de la comunidad de forma útil y significativa.</li>
          <li>• Está orientada a la capacitación laboral, mediante la aplicación de talleres, cursos y prácticas laborales con apoyo (ECA, empleo con apoyo), teniendo como base la integración.</li>
          <li>• Promueve la interrelación con la familia y comunidad en general (del ámbito público y privado), utilizando las distintas estrategias destinadas a la concientización, información, prevención, etc.</li>
     </ul>                             
     </div>

     <section id="Valores">
     <br><p><h4>b. Valores que Sostenemos:</h4></p><br>
     </section>
   
     <div>
          <p>Como institución educativa, estamos alineados con los valores y principios que actualmente sostienen y promueven distintas normativas internacionales, nacionales y/o provinciales. Entre ellos mencionamos:</p>
    
     <ul>
          <li><u><b>• La educación</b>:</u> brindará las oportunidades necesarias para desarrollar y fortalecer la formación integral de las personas a lo largo de toda la vida y promover en cada educando/a la capacidad de definir su proyecto de vida, basado en los valores de libertad, paz, solidaridad, igualdad, respeto a la diversidad, justicia, responsabilidad y bien común.</li>
          <li><b><u>• Vida Independiente</u>:</b> La posibilidad de que la persona con discapacidad se encuentre en condición de ejercer actos de manera autónoma y de participar activamente en la comunidad, en ejercicio pleno del derecho al libre desarrollo de la personalidad.</li>
          <li><b><u>• Igualdad de Oportunidades</u>:</b> La ausencia de discriminación directa o indirecta que tenga su causa en una discapacidad, así como la adopción de medidas de acción positiva orientadas a evitar o compensar las desventajas de una persona con discapacidad para participar plenamente en la vida política, económica, cultural y social.</li>
          <li><b><u>• Equiparación de Oportunidades</u>:</b> Es todo proceso de ajuste del entorno, los servicios, las actividades, la información, la documentación, así como las actitudes respecto de las necesidades de las personas, en particular de las personas con discapacidad.</li>
          <li><b><u>• Intersectorialidad</u>:</b> La acción que desarrolla el Estado comprende las políticas y toda medida de acción positiva, coordinada y articulada de carácter general entre los ámbitos de gestión pública, en consideración de las necesidades y demandas de personas con discapacidad,  tendientes a la equiparación de oportunidades y  trato igualitario.</li>
          <li>• La educación brindará las oportunidades y posibilidades necesarias para desarrollar y fortalecer la formación integral….basado en los valores de libertad, paz, solidaridad, cooperación, igualdad, respeto a la diversidad, justicia, responsabilidad y bien común.</li>
          <li>• La formación que estimule la creatividad y la comprensión de las distintas manifestaciones del arte y la cultura….</li>
     </ul>
     </div>
    
     <section id="Metas">
     <br><h3>METAS</h3><br>
     </section>
     
     <div>
     <ul>
          <li>• Promover en la persona con discapacidad habilidades, hábitos y actitudes, desarrollando al máximo su potencialidad, para lograr su inserción socio-laboral.</li>
          <li>• Alcanzar la formación socio-laboral de la persona con discapacidad a través de distintos cursos y talleres, trabajando articuladamente U.E.P., familia y comunidad.</li>
        
     </ul>
    </div>
 
     <section id="Objetivos">
     <br><h3>OBJETIVOS</h3><br>
     </section>
     
     <div>
     <ul>
          <li>• Incentivar el desarrollo integral de las capacidades de las personas con discapacidad.</li>
          <li>• Brindar asistencia integral a las familias de las personas con discapacidad.</li>
          <li>• Promover la articulación inter institucional y el trabajo mancomunado entre Institución, familia, comunidad.</li>
          <li>• Generar espacios de concientización en relación a la importancia de la inclusión laboral de las personas con discapacidad.</li>
          <li>• Propiciar espacios de práctica laboral, tanto en ámbitos públicos o privados.</li>
     </ul>    
    </div>     

     <section id="Autoridades">
          <br><h3> AUTORIDADES</h3><br>
     </section>
    <div>
          <ul>
            <li><b>Presidente:</b> Silva, Sandra</li>
            <li><b>Tesorera:</b> Zarco, Gisela</li>
            <li><b>Vocales:</b> Valenzuela, Lisa y Duca, Silvia</li>
            <li><b>Revisores de cuenta:</b> Hernandez, Soledad y Secoff Aliciali</li>
        </ul>
     </div>
     
     
     <section id="Ubicacion">
          <br><h3>DONDE ESTAMOS</h3><br>
     </section>
     <div id="centrar">
        <a title="Ubicación" href="https://www.google.com/maps/place/Dorrego+490,+H3700IAJ+S%C3%A1enz+Pe%C3%B1a,+Chaco/@-26.7862853,-60.4466389,17z/data=!3m1!4b1!4m5!3m4!1s0x94412ce3c68bc62f:0x8c842a33abd51d5a!8m2!3d-26.7862853!4d-60.4466389"><img src="{% static 'img/ubicacion.png' %}" width="780px" height="500px"  alt="Ubicacion" ></a>
          <p><h5><b> DORREGO 490, Presidencia Roque Sáenz Peña, Chaco.</b></h5></p><br>        
     </div>
     <p><a text-align: center href="#Inicio">Volver al Inicio</a></p>  

     
</body>
</html>

{% endblock contenido %}

